.support-container {
    color: #000;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 0;
}

.content table {
    margin: 30px 0 30px 100px;
}

table {
    width: 80%;
}

tbody {
    width: 100%;
}

tr td {
    padding: 6px 0;
}

table a {
    color: #3a4eff;
    text-decoration: none;
    border-bottom: 1px solid silver;
    font-weight: 500;
}